.modalBackdropWrapper{
    background-image: url("//www.qrprofitz.com/hosted/images/b8/b9fd0b75de4f67b5cf3f1e9e67ef4b/mark1.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: rgb(255, 255, 255);
    z-index: 1;
    padding-bottom: 60px; 
    padding-top: 50px;
    margin: 0;
}

nav .nav-link{
    color: rgb(255, 255, 255);
    text-align: center;
    outline: none;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    margin-top: 35px;
    cursor: pointer;
}
.logo{
    width: 300px;
}