*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Helvetica, sans-serif;
}

.modalBackdropWrapper{
    background-image: url("//www.qrprofitz.com/hosted/images/b8/b9fd0b75de4f67b5cf3f1e9e67ef4b/mark1.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: rgb(255, 255, 255);
    /* z-index: 1; */
    padding-bottom: 62%; 
    padding-top: auto;
}

nav .nav-link{
    color: rgb(255, 255, 255);
    text-align: center;
    outline: none;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: 25px;
}
.logo{
    width: 300px;
}
.container .btn{
    color: rgb(49, 49, 49);
    font-weight: 600;
    background-color: rgb(255, 227, 0);
    font-size: 19px;
    border-radius: 60px;
    margin-top: 20px;
    cursor: pointer;
}
.hero{
    position: relative;
    top: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.text-1{
    font-size: 32px;
    letter-spacing: 3px;
    margin: 0;
}
.text-2{
    font-size: 75px;
    margin-top: 10px;
    letter-spacing: 1px;
}
.text-3{
    color: rgb(255, 250, 0);
    font-size: 92px;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
}
.text-4{
    font-size: 26px;
    margin-top: 15px;
    outline: none;
    letter-spacing: 1px;
}

.brand{
    font-size: 20px;
    background-color: rgba(255, 187, 0, 0);
    border: 2px solid;
    padding: 10px;
    border-color: rgb(255, 255, 255);
    border-radius: 25px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.row{
    justify-content: space-between;
    display: flex;
    
}
.col-md-8 iframe{
    border: 6px solid;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 25px;
    padding: 0 10px;
    outline: none;
    border-radius: 3px;
}

.col-md-4 {
    padding: 5px 0px 25px;
    background-color: rgba(0, 0, 0, 0.42);
    border-radius: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.col-md-4 h1{
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 25px;
}

.col-md-4 h2{
    font-size: 52px;
    text-align: center;
    margin-top: 0;
}
.col-md-4 h3{
    font-size: 20px;
    margin-top: 0;
}
.col-md-4 h4{
    margin-top: 25px;
    font-size: 22px;   
}
.col-md-4 .btn{
    border-radius: 5px;
    background-color: rgb(255, 227, 0);
}
.col-md-4 a{
    text-decoration: none;
}
.col-md-4 .main{
    color: rgb(38, 27, 11);
    font-weight: 600;
    font-size: 18px;
}
.col-md-4 .Sub{
    font-size: 12px;
    color: rgba(38, 27, 11, 0.842);
}
.btn_btn{
    background-color: rgb(243, 160, 24);
    padding: 10px;
    border-radius: 2px;
    border: none;
    margin-top: 20px;
    padding-left: 40%;
}
.btn_btn a{
    text-decoration: none;
    align-items: center;
}
.ButtonMain{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: bold;
}
.ButtonSub{
    font-size: 16px;
}
.btn_btn_email{
    background: rgb(48, 160, 92);
    padding: 10px;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
    padding-right: 50%;
}
.btn_btn_email a{
    text-decoration: none;
}

@media(max-width: 700px) {
    .row{
        flex-direction: column;
    }
    .modalBackdropWrapper{
        width: 100%;
        max-width: 100%;
    }
    .logo{
        width: 30%;
    }
}

/* PRODUCT EXPLAINED */
.p_logo{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}   
.earlyBird{
    font-size: 26px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 40px;
}
.ex{
    text-align: center;
    font-size: 34px; 
    color: rgb(252, 1, 1);
    margin-top: 20px;
}
.headline{
    text-align: center;
    font-size: 58px;
    color: rgb(29, 39, 64);
    margin-top: 20px;
}
.headline_b{
    font-size: 28px;
    color: rgb(29, 39, 64);
    margin-top: 20px;
}
.rowC{
    padding: 45px 50px 50px;
    margin: 30px auto 0px;
    outline: none;
    width: 70%; 
    background-color: rgb(0, 0, 0);
    border-bottom: 10px solid rgb(250, 193, 86);
    text-align: left;
    border-radius: 30px;
}
.steps{
    color: #ff7403;
    font-size: 20px;
}
/* .mb-4{
    padding-top:10px;
    padding-bottom: 10px;
    margin-top: 0;
} */
hr{
    border-color: rgb(255, 255, 255);
    border-width: 25px;
}
.rowC h3{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

/* TEASER */
.teaser{
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgb(16, 16, 16);
    text-align: center;
    width: 100%;
    position: relative;
}
.teaserHead{
    text-align: center;
    color: #ff7403;
    font-size: 55px;
}
.divider{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    height: 2px;
    width: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.teaserV iframe{
    margin-top: 30px;
    width: 50%;
    height: 640px;
}

/* FUNNEL*/
.header{
    text-align: center; 
    font-size: 100px; 
    padding-top: 10px; 
    padding-bottom: 20px; 
    margin: 0px; 
    outline: none;
    color: rgb(243, 160, 24);
}
.subHeader{
    text-align: center; 
    font-size: 28px; 
    color: rgb(255, 255, 255);
}
.Timg{
    width: 100%;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}